.join-card {
  background: #565e6f;
  border-radius: 16px;
  margin-top: 16px;
  padding: 16px;
  width: 100%;
  max-width: 500px;
}

.join-prev-card {
  margin-bottom: 16px;
}

.join-card-header {
  font-family: cursive;
  margin-bottom: 12px;
}

.join-card-alt-header {
  margin: 0;
}

.join-card-paragraph {
  font-size: .9rem;
  font-style: italic;
  margin-top: 6px;
}

.join-price-row {
  display: flex;
  justify-content: space-evenly;
}

.join-host-label {
  margin-top: -15px;
}