/* App Level */
.App {
  background-color: #282c34;
  text-align: center;
}

.App-content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 1.75vmin);
  color: white;
  padding: 16px;
  max-width: 768px;
  margin: 0 auto;
}

/* Global/Shared */
.title {
  cursor: pointer;
  font-family: "Brush Script MT", cursive;
  font-size: 6rem;
}

.subtitle {
  font-family: Copperplate;
}

.large-btn {
  background: #282c34;
  border: 1px solid white;
  border-radius: 8px;
  color: white;
  font-size: 1rem;
  padding: 15px;
}

.large-btn:hover {
  background: #535c6d;
}

.small-btn {
  background: #282c34;
  border: 1px solid white;
  border-radius: 8px;
  color: white;
  font-size: 1rem;
  padding: 10px;
}

.small-btn:hover {
  background: #535c6d;
}

.tiny-btn {
  background: #282c34;
  border: 1px solid white;
  border-radius: 8px;
  color: white;
  font-size: 0.8rem;
  padding: 5px;
}

.tiny-btn:hover {
  background: #535c6d;
}

.full-width-btn {
  margin-top: 12px;
  width: 100%;
  max-width: 600px;
}

.mobile-full-width-btn {
  margin-bottom: 16px;
  width: 100%;
  max-width: 300px;
}

.nav-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 768px;
  width: 100%;
}
